body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.navbar{
    margin-bottom: 0px !important;
}

.side-bar{
    height: 100vh;
    background-color: #25262A;
}

.side-bar-item{
    transition: 0.2s all;
}

.side-bar-item:hover{
    background-color: #30353B;
    transition: 0.3s all;
}

.side-bar-item a{
    text-decoration: none;
}

.side-bar-item-link:hover{
    color: #FF8D1C;
    transition: 0.3s all;
}

.side-bar-item-link{
    color: #bbbbbb;
    transition: 0.3s all;
}

.bt{
    border-bottom: 1px solid #30353B;
}

.content-col{
    height: 100vh;
}

.content{
    overflow: auto;
    max-height: 70vh;
}

.game-logo{
    width: 15rem;
}

.header-name{
    color: #FF8D1C;
    font-size: 3rem;
}

.statistics-header{
    
}

.statistics-body{
    font-size: 3rem;
    color: #22917B;
}

.card-like{
    background-image: url('/images/background/card-heart.png');
    background-repeat: no-repeat;
    background-position: 150% 40%;
    background-size: 15vw;
}

.card-user{
    background-image: url('/images/background/card-user.png');
    background-repeat: no-repeat;
    background-position: 150% 40%;
    background-size: 15vw;
}

.card-comment{
    background-image: url('/images/background/card-comment.png');
    background-repeat: no-repeat;
    background-position: 150% 40%;
    background-size: 15vw;
}

.card-pro{
    background-repeat: no-repeat;
    background-size: 30vw;
    background-position: -250% 10%
}

.card-h{
    height: 14rem;
}

.f-small{
    font-size: 1.5rem;
}

.w-row{
    width: 2rem;
}

.mr{
    margin-right: 2rem;
}