.champions {
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 85%;
    margin: 5px;
    border-radius: 10px;
}

.champions:hover {
    background-size: 300%;
    cursor: pointer;
}
