.card-champion{
  height: 50vh;
  cursor: pointer;
  transition: all 0.3s;
}

.card-champion:hover{
  transform: scale(1.2);
  filter: brightness(180%);
  transition: all 0.3s;
  z-index: 10;
}

.name-font{
  font-size: 1.5rem;
}

.subname-font{
  font-size: .8rem;
}

.title{
  color: white;
  font-size: 2.5rem;
}

