.thumbnail{
    border: 1px solid #ffffff33;
    border-radius: 5px;
    margin-top: 10px;
}

.caption{
    font-size: 14px;
}

.card-game{
    height: 50vh;
    transition: all 0.3s;
}

.card-game:hover{
    border: 2px solid #d16900;
    transition: all 0.3s;
}

.game-name{
    font-size: 1.7rem;
}
