.thumbnail{
    border: 1px solid #ffffff33;
    border-radius: 5px;
    margin-top: 10px;
}

.caption{
    font-size: 14px;
}

.card-game{
    height: 50vh;
}

.card-game:hover{
    filter: brightness(1.2);
    border: 2px solid #d16900;
    transition: all 0.2s;
}

.card-game:hover .white-font span{
    color: #afafaf;
}

.game-name{
    font-size: 1.7rem;
}
