hr{
  margin: 2px;
}

h5{
  margin-bottom: .1rem !important;
}

p{
  margin-bottom: .2rem !important;
}

.user-icon{
	border-radius: 100%;
	width: 30%;
  height: 30%;
	border: solid 1px black;
}

.user-name{
	font-size: 20px;
}

.card-lol-info{
	margin-top: 0.5em;
}

.user-rank{
	width: 20%;
}

.user-rank-name{
	margin-left: 0.5em;
	font-size: 16px;
}

.card-feed{
  margin-bottom: 4px;
  margin-top: unset !important;
}

.user-nick-lol{
  margin-left: 4px !important;
}

.player-img{
  width: 100%;
}

.photo-change{
	width: 25px;
	margin-left: -20px;
	margin-top: 45px;
	position: relative;
	padding: 0px;
}

.user-card-pos{
	margin-top: -40px;
}

.rank-img{
  width: 70%;
  margin-bottom: -10px;
}

.ranked-title{
  font-size: 15px;
}

.rank-text{
  font-size: 15px;
}

.rank-pdl{
  font-size: 13px;
}

.second-stats{
  font-size: 12px;
}

body{
	background-color: #2c0045;
}


.line-margin{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  border-color: #bbb9b9;
}






.card-lose{
  background-image: linear-gradient(to right, #981c1c, #1d002e);
  border-right: unset;
}

.card-win{
  background-image: linear-gradient(to right, #243f71 , #1d002e);
  border-right: unset;
}

.img-champion{
  width: 30%;
  height: 30%;
  border: 1px solid black !important;
}

.img-spell{
  margin-bottom: 5px;
  width: 20%;
  height: 20%;
  border: 1px solid black !important;
}

.img-perk{
  margin-left: 1px;
  margin-bottom: 5px;
  width: 20%;
  height: 20%;
}

.span-card{
    color: #cecece;
}

.card-bars{
  color: #cecece;
  padding-right: 1px;
  padding-left: 1px;
}

.circle-card{
    font-size: 0.1rem !important;
    padding-left: 5px;
    padding-right: 5px;
}

.item-card{
    width:25%;
    height: 25%;
    margin: 2px 2px;
    border: 1px solid black !important;
}

.no-padding{
  padding: 0px 0px; 
}

.news-card{
  border: none;
  margin-bottom:10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news-card::before {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.news-card-text{
  z-index:999;
}

.feed-post{
  height: 155px;
  margin-bottom: 5px;
}

.feed-post-textarea{
  margin: 10px 30px 7px 30px;
  border: 1px solid #3d274b;
  border-radius: 10px;
  padding: 10px 10px;
  resize: none;
}

.feed-post-textarea:focus{
  outline: none;
}

textarea::-moz-input-placeholder {
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: rgb(136, 139, 146);  
}

.feed-body{
  padding: 5px;
}

.text-muted{
  color: #bac2ca !important;
  font-size: 12px;
}

.btn-publicar{
  margin: unset;
}

.btn-publicar:focus{
  margin: unset;
  box-shadow: none !important;
}

.fa-heart:hover{
  font-size: 14px;
  transition: font-size 0.3s;
}

.fa-heart{
  transition: font-size 0.3s;
}

.form-control{
  resize: none;
}

.clickable{
  cursor: pointer;
}


.user-nick{
  color: black !important;
}

.user-nick:hover{
  text-decoration: underline !important;
  color: black !important;
}

.card-comment{
  border-bottom: 1px solid #dee2e6;
  padding-left: 16px;
}

.post{
  margin-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
  padding-left: 16px;
  padding-right: 16px;
}

.modal-body{
  padding-left: 0px;
  padding-right: 0px;
  overflow-x: hidden;
}

.scroll {
  max-height: 490px;
  overflow-y: auto;
  overflow-x: hidden;
  
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ae21ff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a0074; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#4a0074; 
}