.body{
    background-color: #212529;
}

.map-logo{
    filter: brightness(70%);
    transition: 0.3s all;
}

.map-logo:hover{
    filter: brightness(100%);
    transition: 0.3s all;
}

.main-section{
	height: 100%; 
	background-image: url('../images/background/leona-bg.jpg');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover; 
	opacity: 1;	
}

.section-row{
	height: 100vh;
}

.card-pro-player{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 0.3s all;
}

.proplayer-name{
    font-size: 1.5rem;
    color: #d16900;
    z-index: 20;
}

.find-team-section{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/background/lucian-bg.jpg');
    background-size: cover;
}

.card-find-team{
    -webkit-box-shadow: 4px 6px 44px 0px rgba(0,0,0,0.78);
    -moz-box-shadow: 4px 6px 44px 0px rgba(0,0,0,0.78);
    box-shadow: 4px 6px 44px 0px rgba(0,0,0,0.78);
}

.find-team-section::before{
    filter: grayscale(100%);
}

.card-title{
    margin-bottom: .2rem;
}

.proplayer-game{
    font-size: .9rem;
}

.card-pro-player:hover{
    transform: scale(1.1);
    filter: none;
    -webkit-filter: grayscale(0%);
    transition: 0.3s all;
}

.section-info{
    height: 100vh;
}

.section-title{
    padding: 5rem;
}

.form{
    padding: 1em 1.5em;
    -webkit-box-shadow: 6px 12px 30px 14px rgba(0,0,0,0.66);
    -moz-box-shadow: 6px 12px 30px 14px rgba(0,0,0,0.66);
    box-shadow: 6px 12px 30px 14px rgba(0,0,0,0.66);
}

.text-index{
    text-shadow: 0 0 15px rgba(0,0,0,.8), 0 0 10px rgba(0,0,0,.8);
}

.form-div{
	margin-left: 12em;
}

hr{
    border-color:#626262;
}

.title{
	font-weight: bold;
	font-size: 3.875rem !important;
	text-transform: uppercase;
}


@media screen and (max-width: 500px) {
  #signup-form{
      display: none;
  }
}

@media screen and (max-width: 1024px) {
    .form-div{
        margin-left: unset !important;
    }
  
    .title{
        font-size: 2rem !important;
    }
  
    h6{
        font-size: 0.85rem !important;
    }
  }

.card .image{
	height: 100%;
    background-size: cover;
    background-position: center center;
}
.card .text{
    font-family: 'Chelsea Market', cursive;
    height: 20%;
    margin: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 50px;
    position: absolute;
    right: 0;
    left: 0;
    top: 80%;
    bottom: 20%;
}

.card{
	width: 100%;
    height: 300px;
    margin: auto auto;
    background: #383030;
    border-radius: 20px;
    overflow: hidden;
    webkit-box-shadow: 0px 0px 64px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 64px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 64px 0px rgba(0,0,0,0.6);
    text-align: center;
}


.card-content{
	transform-style: preserve-3d;
	height: 100%;
}
.hover-in{
	transition: .3s ease-out;
}
.hover-out{
	transition: .3s ease-in;
}
.card-hover{
	margin:0px;
}
