@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.white-font{
	color: white !important;
}

.black-font{
	color: black !important;
}

.red-font{
	color: #ff7a7a !important;
}

.gray-font{
	color: #879292 !important;
}

.alertify-notifier .ajs-message.ajs-error{
    border-color: rgba(217,92,92,.95);
	font-family: 'Raleway', sans-serif;
}

.alertify-notifier .ajs-message.ajs-success {
    color: #fff;
    border-color: rgba(91,189,114,.95);
	font-family: 'Raleway', sans-serif;
}

.form-control:focus {
	border-color: #2c0045 !important;
}

body{
  font-family: 'Varela Round', sans-serif !important;
  background-image: url('/images/background/camilleBG.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.kaisa-bg{
	height: 100%; 
	background-color: #37003f; 
	background-image: url('../images/background/kaisaBG2.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover; 
	opacity: 1;	
}

.section-row{
	height: 700px;
	
}

.line {
	margin:0 0 1em;
	line-height:2em;
	padding:0;
	color:white;
	font-size:1.5em;
	position:relative;
	overflow:hidden;
	text-align:center;
}
.line:before,.line:after {
	content:" ";
	position:absolute;
	top:50%;
	margin-left:-999em;
	height:2px;
	width:998em;
	border-top:1px solid white;
}
.line:after {
	left:auto;
	width:999em;
	margin:0 0 0 1em;
}

.navbarfeed{
	margin-bottom: 2em !important;
}

.row-without-margin{
	margin: 0 !important;
}

.loader {
  border: 3px solid #743b94; /* Light grey */
  border-top: 3px solid #2c0045; /* Blue */
  border-bottom: 3px solid #2c0045; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

[data-tooltip] {
	display: inline-block;
	position: relative;
	cursor: help;
	padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
	content: attr(data-tooltip);
	display: none;
	position: absolute;
	background: #000;
	color: #fff;
	padding: 4px 8px;
	font-size: 14px;
	line-height: 1.4;
	min-width: 100px;
	text-align: center;
	border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
	left: 50%;
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
	top: 50%;
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
	bottom: 100%;
	margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
	left: 100%;
	margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
	top: 100%;
	margin-top: 6px;
}
[data-tooltip-position="left"]:before {
	right: 100%;
	margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
	content: '';
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
	left: 50%;
	margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
	top: 50%;
	margin-top: -6px;
}
[data-tooltip-position="top"]:after {
	bottom: 100%;
	border-width: 6px 6px 0;
	border-top-color: #000;
}
[data-tooltip-position="right"]:after {
	left: 100%;
	border-width: 6px 6px 6px 0;
	border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
	top: 100%;
	border-width: 0 6px 6px;
	border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
	right: 100%;
	border-width: 6px 0 6px 6px;
	border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	display: block;
	z-index: 50;
}

.dropdown-menu{
	background-color: #230138;
}

.dropdown-item{
	color:rgba(255,255,255,.5);
}

.dropdown-item:hover{
	color: #fff;
	background-color: #3d274b;;
	transition: background-color 0.5s;
	transition: color 0.5s;
}