.navbar{
	margin-bottom: 10px !important;
}

.nav-link{
	color: #bbbbbb !important;
	transition: all 0.3s;
}

.nav-link:hover{
	color: #ff8d1c !important;
	transform: scale(1.1);
	transition: all 0.3s;
}

.dropdown-menu{
	background-color: #30353B;
}

.dropdown-item{
	color:#bbbbbb;
	transition: all 0.3s;
}

.dropdown-item:hover{
	color: #25262A;
	background-color: #ff8d1c;
	transition: all 0.3s;
}