.navbar{
	margin-bottom: 10px !important;
}

.nav-link{
	color: #bbbbbb !important;
	transition: all 0.3s;
}

.nav-link:hover{
	color: #ff8d1c !important;
	transform: scale(1.1);
	transition: all 0.3s;
}