nav{
	transition: background-color 1.5s ease;	
	background-color: transparent;
}

.navbar-remake a{
	color:#b5b5b5 !important;
	font-size: 14px;
	transition: 0.3s;
}

.navbar-remake a:hover{
	color:white !important;
	font-size: 15px;
	transition: 0.3s;
}

body{
	background-color: #37003f;
}

.solid{
	transition: background-color 1.5s ease;	
	background-color: #37003f;
}


.navbar-toggler-icon{
	color: #b5b5b5 !important;
}

.nav-link{
	color: white !important;
}